nav {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 3px;
}

.pretty-link {
  color: #3498db; /* Modern blue color */
  text-decoration: none; /* Remove the underline */
  font-weight: 500; /* Optional: Add slight boldness */
  transition: color 0.3s ease, border-bottom 0.3s ease; /* Smooth transitions */
  border-bottom: 2px solid transparent; /* Underline effect using border */
}

.pretty-link:hover {
  color: #2c3e50; /* Change color on hover */
  border-bottom: 2px solid #3498db; /* Underline on hover */
}

.pretty-link:active {
  color: #2980b9; /* Change color when active (clicked) */
}

#profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 12em;
}

main {
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 20px;
    padding: 20px;
}

main img {
    max-width: 100%;
}

html {
    width: 100vw;
}

body {
    max-width: 50em;
    margin: auto;
    height: 100vh;
}

figure .caption {
    font-size: 0.9rem;
    opacity: 0.6;
    text-align: center;
}

blockquote {
    border-left: 4px solid #000;
    padding-left: 15px;
    margin-left: 0;
    color: #333;
}

#post-update-date {
    font-style: italic;
}

.main {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.dropcap {
    float: left;
    font-size: 4rem;
    line-height: 0.8;
    margin-right: 0.2em;
}

.post-content {
    font-family: "Playfair Display", Georgia, serif;
    font-size: 1.0rem;
    line-height: 1.8;
}

.post-content p {
    margin: 1rem auto;
}

.post-footer {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 24px auto;
}

.post-footer-prev {
    text-align: left;
}

.post-footer-next {
    text-align: right;
}

.post-end-hr {
  border: none;
  height: 2px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), #007acc, rgba(0, 0, 0, 0)); 
  margin: 32px 0; /* Spacing around the rule */
  width: 100%; /* Full-width */
  max-width: 600px; /* Optional: limit max width for a neater look */
  position: relative;
}

.list-ul {
    padding-left: 0px;
    line-height: 1.6rem;
    font-weight: 500; 
}
