{{ define "main" }}
<div class="post-meta" >
  <h1><span class="title">{{ .Title | markdownify }}</span></h1>
  {{ with .Params.author }}
  <h2 class="author">{{ . }}</h2>
  {{ end }} {{ if (gt .Params.date 0) }}
  <p id="post-update-date">Last updated on {{ .Date.Format "January 2, 2006" }}.</p>
  {{ end }}
</div>

<div class="post-content">
{{ .Content }}
</div>

<hr class="post-end-hr"/>

<footer class="post-footer">
  {{ $pages := .CurrentSection.Pages.ByDate.Reverse }}
  <div class="post-footer-prev">
  {{ with $pages.Prev . }}
  <a class="pretty-link" href="{{ .RelPermalink }}">< {{ .Title }}</a>
  {{ end }}
  </div>
  <div class="post-footer-next">
  {{ with $pages.Next . }}
  <a class="pretty-link" href="{{ .RelPermalink }}">{{ .Title }} ></a>
  {{ end }}
  </div>
</footer>
{{ end }}
